*{
    margin: 0;
    padding: 0;
}
.hide {
    display: none !important;
}
.lottery-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 20vh 30vw;
    box-sizing: border-box;
    .lottery-people-item{
        color: black;
        transition: .5s;
        &.active{
            color: red;
            box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 200px #03e9f4;
        }
    }
    .lottery-people-item:nth-child(1) {
        filter: hue-rotate(290deg);
    }
    .lottery-people-item:nth-child(3) {
        filter: hue-rotate(110deg);
    }
}